# Qt Creator
*.pro.user
*.pro.user.*
.qtc_clangd/
.qtcreator/

# Build directories
build/
build-*/

# CMake / qmake
CMakeLists.txt.user
.qmake.stash

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# 第三方库
3rdparty/opencv/
3rdparty/halcon/